<%= stylesheet_link_tag 'home' %>



<div class="about-main">
  <h2>Happy Diariesとは</h2>
  <p>
    シンプルな日記アプリです。
    少し違うところといえば、ポジティブな日記しか書けないように出来ています。
  </p><br>
  <p>
    タイトルは『最高の』から書き始め、本文は感謝を込めて『ありがとう。』で一日を終えましょう。
  </p>
  
</div>

<%= stylesheet_link_tag "home", :media => "all" %>