<%= stylesheet_link_tag 'home' %>



<div class="main top-main">
  <div class="top-message">
    <h2>言葉で、毎日が幸せに</h2>
    <p>ポジティブな日記を習慣にしよう!</p>
    <%= link_to("日記を書く", "/signup", class: 'btn btn-primary mt-4') %>
  </div>
</div>
